<!-- templates/stats/home.html -->
{% extends 'stats/base.html' %}

{% block content %}

<div>
   <h1>&nbsp;Rocket League Statistic Quantifier</h1>
   <p>An ad-free way to view the statistics for the competitive Rocket League Player.</p>
   <p></p>
   <p>* Viewable Player Statistics</p>
   <p>- Unranked</p>
   <p>- Ranked</p>
   <p>-- 1vs1</p>
   <p>-- 2vs2</p>
   <p>-- 3vs3 Solo</p>
   <p>-- 3vs3 Standard</p>
   <p></p>
   <p>* Top 100 Statistics for All Major Game Modes</p>
   <p></p>
</div>

{% endblock content %}
