<!-- templates/stats/playerstats.html -->
{% extends 'stats/base.html' %}

{% block content %}

<div class="col-md-4">
   <div class="content-section">
       <h3>Stats & Rankings</h3>
       <ul class="list-group">
           <li class="list-group-item list-group-item-light">Statistics</li>
           <li class="list-group-item list-group-item-light">Unranked</li>
           <li class="list-group-item list-group-item-light">1vs1</li>
           <li class="list-group-item list-group-item-light">2vs2</li>
           <li class="list-group-item list-group-item-light">Standard</li>
           <li class="list-group-item list-group-item-light">Standard Solo</li>
       </ul>
       </p>
   </div>
   </div>
<div>
   <h1>Player Stats Page.</h1>

   <div class="divTable">
      <div class="divTableBody">
      <div class="divTableRow">
      <div class="divTableCell">Goal/Shot%</div>
      <div class="divTableCell">Wins</div>
      <div class="divTableCell">Goals</div>
      <div class="divTableCell">Saves</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">Shots</div>
      <div class="divTableCell">MVPS</div>
      <div class="divTableCell">Assists</div>
      <div class="divTableCell">MVP/WIN%</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      </div>
   </div>

   <div class="divTable">
      <div class="divTableBody">
      <div class="divTableRow">
      <div class="divTableCell">Playlist</div>
      <div class="divTableCell">Rating</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">Unranked</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">1vs1 Duel</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">2vs2 Teams</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">3vs3 Solo</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">3vs3 Standard</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      </div>
      </div>
   
</div>

{% endblock content %}
