<!-- templates/stats/playerstats.html -->
{% extends 'stats/base.html' %}

{% block content %}
   <h1>Player Stats Page.</h1>

   <div class="divTable">
      <div class="divTableBody">
      <div class="divTableRow">
      <div class="divTableCell">Goal/Shot%</div>
      <div class="divTableCell">Wins</div>
      <div class="divTableCell">Goals</div>
      <div class="divTableCell">Saves</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">Shots</div>
      <div class="divTableCell">MVPS</div>
      <div class="divTableCell">Assists</div>
      <div class="divTableCell">MVP/WIN%</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      </div>
   </div>

   <div class="divTable">
      <div class="divTableBody">
      <div class="divTableRow">
      <div class="divTableCell">Playlist</div>
      <div class="divTableCell">Rating</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">Unranked</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">1vs1 Duel</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">2vs2 Teams</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">3vs3 Solo</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">3vs3 Standard</div>
      <div class="divTableCell">&nbsp;</div>
      </div>
      </div>
      </div>
   
</div>

{% endblock content %}
